body {
    background-color: black !important;
    color: black;
}

.loading {
    text-align: center;
    margin: 25%;
    color: white;
}

.jumbotron { opacity:0.5; }

@media screen and (min-width: 768px) {
    .jumbotron {
        margin-top: 5em;
        padding: 0 4em;
    }
}
@media screen and (max-width: 768px) {
    .jumbotron {
        margin-top: 2em;
        padding: 0 2em;
    }
}

@media screen and (min-width: 768px) {
    .container { max-width: 60em; }
}

#location-address { font-size: 1.25em; }

#location-icon, .location-current-temperature { font-size: 3em !important; }

.forecast-today-description { padding-bottom: 1.5em; }

.forecast-today-maxmin { line-height: 50%; }
